/* PC low resolution tro len*/
@media (min-width: 1024px) and (max-width: 1239px) {
     .wide .section__results-container-num-count {
        display: flex;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    body {
        -webkit-tap-highlight-color: transparent;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    /* .header {
        overflow: hidden;
    } */

    .header__global.wide {
        width: 100%;
    }

    .header__container {
        position: relative;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .header__navigation-list {
        display: none;
        position: absolute;
        left: 0;
        top: 6rem;
        background-color: #fff;
        width: 100%;
        transition: all 0.2s ease;
        box-shadow: 0 0.2rem 4rem 0 hsl(0deg 0% 6% / 5%);
    }

    .header__navigation-list.hide {
        display: inline-block;
        transition: all 0.3s ease;
    }

    .header__navigation-item {
        border-bottom: 1px solid rgba(14,21,58,0.10);
        margin-right: 0;
    }

    .header__navigation-link {
        display: block;
        padding: 1.5rem 3rem;
    }

    .header__btn {
        display: block;
    }

    .section__home-container-img,
    .section__try-container-text {
        margin-top: 2.4rem;
    }

    .section__pricing-container-text-intro {
        margin-bottom: 5rem;
    }

    .section__pricing-container-all-pack {
        justify-content: center;
    }

    .section__pricing-container-pack {
        margin-bottom: 3rem;
    }

    .section__pricing-container-pack:last-child {
        margin-bottom: 0;
    }

    .pack-inner-focus {
        margin-top: 3rem;
        margin-bottom: 3rem;
        z-index: initial;
    }

    .pack-inner-focus.section__pricing-container-pack-inner {
        padding: 5rem;
    }

    .section__blog-container-item {
        padding-bottom: 6rem;
    }

    .section__blog-container-item:last-child {
        padding-bottom: 0rem;
    }

    .section__blog-container-link {
        margin-top: 0;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .header {
        height: 7rem;
    }

    .header__global {
        padding: 1rem 0rem;
    }

    .header__container {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .header__navigation-list {
        top: 5.9rem;
    }

    .header__logo {
        padding-left: 1rem;
    }

    .header__btn {
        padding: 1rem 2rem;
    }

    .section__home,
    .section__try,
    .section__features,
    .section__power,
    .section__process,
    .section__team,
    .section__why,
    .section__reviews,
    .section__results,
    .section__pricing,
    .section__questions,
    .section__blog,
    .section__contact,
    .footer {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }

    .section__process-container-details {
        padding-top: 4rem;
    }
    .section__process-container-details:first-child {
        padding-top: 0;
    }

    .section__reviews-container-slick-user {
        margin: 0 0.6rem 0 0;
    }

    .section__results-container-num-count:nth-child(2) {
        border: none;
    }

    .section__questions-container-end-link {
        display: inline-block;
        margin-top: 0.5rem;
    }

    .section__contact-container-inner {
        padding: 1rem;
    }

    .section__contact-container-center {
        padding: 5rem 2rem;
    }

    .footer__social-list {
        text-align: center;
    }

    .footer__brand {
        text-align: center;
    }
}